In [58]:
import requests # request img from web
import shutil # save img locally
import urllib.request
import uuid

In [30]:
url = 'https://hu.cat-ret.assets.lidl/catalog5media/hu/article/346449/xs/346449.jpg'

In [31]:
url_aldi = 'https://s7g10.scene7.com/is/image/aldi/KW32_02_Csutortok_szombat_17'

In [22]:
#url.split('/')[-1]

'346449.jpg'

In [35]:
res = requests.get(url)

In [40]:
res.headers['Content-Type'][res.headers['Content-Type'].find('/')+1:]

'jpeg'

In [41]:
auchan = 'https://ahuazurewebblob0.azureedge.net/auchan/cache/product_medium/product/7392287/01_151251751_front_85163943.png'

In [42]:
res = requests.get(auchan)

In [43]:
res.headers['Content-Type'][res.headers['Content-Type'].find('/')+1:]

'plain'

In [44]:
res.headers

{'Content-Type': 'text/plain', 'Last-Modified': 'Thu, 16 Sep 2021 09:53:43 GMT', 'ETag': '0x8D978F7DE8C88BF', 'Server': 'Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0', 'x-ms-request-id': '08ad3f11-701e-0088-77cc-a0783f000000', 'x-ms-version': '2009-09-19', 'x-ms-lease-status': 'unlocked', 'x-ms-blob-type': 'BlockBlob', 'Vary': 'Accept-Encoding', 'Content-Encoding': 'gzip', 'Content-Length': '180191', 'Cache-Control': 'public, max-age=6395292', 'Date': 'Fri, 12 Aug 2022 15:58:25 GMT', 'Connection': 'keep-alive'}

In [45]:
urllib.request.urlretrieve(auchan , "local-filename_auchan.png")

('local-filename_auchan.png', <http.client.HTTPMessage at 0x7faf90510250>)

In [61]:
uuid_image = uuid.uuid1()

In [63]:
str(uuid_image) + '.png'

'8184d22a-1a58-11ed-bff9-9af8cc858e72.png'

In [65]:
import os

In [66]:
dir = '/Users/kuligabor/Documents/HotDealsHungary/img'
for f in os.listdir(dir):
    os.remove(os.path.join(dir, f))

In [67]:
import random

In [71]:
random.randint(0,4)

3

In [73]:
import pandas as pd

In [74]:
df = pd.DataFrame([1,2,3,4,5,6], columns=['A'])

In [75]:
df

   A
0  1
1  2
2  3
3  4
4  5
5  6

In [81]:
df['rand'] = df.apply(lambda x : random.randint(0,4),1)

In [82]:
df

   A  rand
0  1     2
1  2     1
2  3     3
3  4     0
4  5     1
5  6     1